
<h2>
  <%= country.name %>
  (<%= country.key.upcase %>)
  
  <% if country.parent %>
   › <%= link_to_country( country.parent ) %>
  <% end %>
</h2>

<table>
  <%= erb :'shared/_table_header_country' %>
  <%= erb :'shared/_table_row_country', locals: { country: country } %>
</table>



<% if country.countries.count > 0 %>
<h3>
  <%= country.countries.count %> Territories
</h3>

<table>
  <%= erb :'shared/_table_header_country' %>

<% country.countries.each do |cty| %>
  <%= erb :'shared/_table_row_country', locals: { country: cty } %>
<% end %>
</table>

<% end %>

