

<p>
  <%= link_to 'World', '/' %>
   <span class='country-count'>
    (<%= Country.count %>)
   </span>  ›

<% Continent.order(:id).each_with_index do |continent,i| %>
   <% if i > 0 %> • <% end %>
   <%= link_to_continent( continent ) %>
   <span class='country-count'>
      (<%= continent.countries.count %>)
   </span>
<% end %>
<p>


<h2>
  <%= countries_count %> <%= title %>
    ›  

  <% supra_count = countries.where(s:true).count
     if supra_count > 0 %>
    <%= supra_count %> Supras /
  <% end %>
   <%= countries.where(c:true).count %> Countries /
   <%= countries.where(d:true).count %> Territories
</h2>


<p>
  Filter: <%= link_to 'All', '?' %> › 
          <%= link_to 'Countries', '?c=t&s=f&d=f' %> •
          <%= link_to 'Territories', '?c=f&s=f&d=t' %>
</p>


<table>
  <%= erb :'shared/_table_header_country' %>
 
  <% countries.each do |country| %>
    <%= erb :'shared/_table_row_country', locals: { country: country } %>
  <% end %><!-- each country -->
</table>
