<!DOCTYPE html>
<html>
<head>
  <meta charset='utf-8'>
  <title>Country Codes - world.db.codes</title>
  <link href="<%= url('/style.css') %>" rel='stylesheet'>
</head>
<body>

<%= erb :'shared/_banner' %>

<%= erb :'shared/_header' %>

<%= yield %>

<%= erb :'shared/_version' %>

</body>
</html>
