
 <tr>
     <td></td>
     <td><%= link_to_codepage( 'NET' ) %></td>
     <td><%= link_to_codepage( 'A2' ) %></td>
     <td></td>
     <td></td>
     <td><%= link_to_codepage( 'FIFA' ) %></td>
     <td><%= link_to_codepage( 'IOC' ) %></td>
     <td><%= link_to_codepage( 'A3' ) %></td>
     <td><%= link_to_codepage( 'M' ) %></td>
     <td><%= link_to_codepage( 'FIPS' ) %></td>
     <td><%= link_to_codepage( 'NUM' ) %></td>
     <td>UN?</td>
     <td>FIFA?</td>
 <!-- to be done
   <td>Languages</td>
   -->
  </tr>
